.list-item:hover {
  background-color: rgb(235, 235, 235);
}
.flipkart-user-container {
  margin-left: 20px;
}

.flipkart-menu-shadow {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
.flipkart-section-end-img {
  width: 100%;
}
