.login-btn{
    border-radius: 0px;
    width: 140px;
}

.auth-container{
    height: 500px;
}

.auth-container:last-child input{
    outline: none;
    border: none;
    border-bottom: 1px solid rgb(163, 163, 163);
}

.otp-btn{
    background-color: #fb641b;
    border: none;
    height: 45px;
}
