.product-img-tab-container img {
  width: 100px;
}
.product-img-tab-container {
  max-height: 300px;
  overflow-y: scroll;
  max-width: 100px;
  overflow-x: hidden;
}
.product-img img {
  width: 400px;
  height: 400px;
  object-fit: contain;
}
.product-delivery-pincode {
  border: none;
  border-bottom: 1px solid #0d6efd;
  outline: none;
}
.proudct-address-item {
  max-width: 250px;
  overflow: hidden;
}
.product-order-before {
  font-size: 12px;
}
.product-addcart-btn {
  height: 50px;
  border: none;
}
.product-items-calculation {
  min-height: 80px;
}
.product-table tr td {
  border: none;
}
.product-image-container img {
  width: 80px;
  height: 80px;
  object-fit: contain;
}
.product-review-last-image {
  position: relative;
  text-align: center;
  color: white;
  cursor: pointer;
}
.product-review-last-image img {
  filter: brightness(40%);
}
.product-review-last-image span {
  font-size: 24px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.review-image-modal-container img {
  width: 80px;
  height: 80px;
  cursor: pointer;
}
.review-section img {
  width: 80px;
  height: 80px;
  object-fit: contain;
}