.product-img-tab-container img {
  width: 100px;
}

.product-img-tab-container {
    
  max-height: 300px;
  overflow-y: scroll;
  max-width: 100px;
  overflow-x: hidden;
}
.product-img img{
    max-width: 400px;
    max-height: 400px;
}